.title {
    background-color: #99A1A6;
    display: block;
    padding-left: 20px;
}

.search {
    display: block;
    width: 40%;
    padding: 15px 8px 8px;
}

.content{
   display: grid;
   grid-template-columns: 1fr 2fr
}
.card{
   width: 18rem;
   
}
.container {
    margin-top: 20px;
}

#header {
    background: url("wall.jpeg");
    /* background: url("imgs/header.jpeg") center center / cover no-repeat; */
}
.row {
    margin: 0 15px;
    float: left;
}

/* .dblist {
    width: 300px;
} */